
body {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    background-color: #ededed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#bubble-container {
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#bubble {
    background-color: #96ae9c;
    width: 10vh;
    height: 10vh;
    border-radius: 100px;

    animation: mover 8s infinite ease-in-out;
}

/* @keyframes mover {
    0% { transform: translateY(10vh); }
    50% { transform: translateY(70vh); }
    100% { transform: translateY(10vh); }
} */

@keyframes mover {
    0% {  height: 10vh;  width: 10vh; border-radius: 10vh}
    50% { height: 50vh; width: 50vh; border-radius: 50vh}
    100% {  height: 10vh; width: 10vh; border-radius: 10vh}
}
